apiVersion: apps/v1
kind: Deployment
metadata:
  name: "dpm-catalog"
  namespace: "default"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "dpm-catalog"
  template:
    metadata:
      labels:
        app: "dpm-catalog"
    spec:
      serviceAccountName: "dpm-catalog-sa"
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        fsGroup: 65534
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: app
          image: "jocosta96/catalog-microservice@sha256:latest"
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 65534
            capabilities:
              drop:
                - ALL
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 60
            failureThreshold: 3
            periodSeconds: 60
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 60
          env:
            - name: API_PWD
              valueFrom:
                secretKeyRef:
                  name: "sec-app-catalog"
                  key: API_PWD
            - name: API_USER
              valueFrom:
                secretKeyRef:
                  name: "sec-app-catalog"
                  key: API_USER
            - name: DRIVER_NAME
              valueFrom:
                configMapKeyRef:
                  name: "cfm-database-catalog"
                  key: DRIVER_NAME
            - name: DEBUG
              valueFrom:
                configMapKeyRef:
                  name: "cfm-database-catalog"
                  key: DEBUG
            - name: LOG_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: "cfm-database-catalog"
                  key: LOG_LEVEL
          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
            limits:
              memory: "256Mi"
              cpu: "500m"
          volumeMounts:
            - name: tmp-volume
              mountPath: /tmp
          command: ["sh", "-c"]
          args:
            - |
              #!/bin/sh

              # Start the app
              python infra/scripts/database_migration.py init
              python infra/scripts/init_db.py --sample-data
              exec uvicorn src.main:app --host 0.0.0.0 --port 8080
      volumes:
        - name: tmp-volume
          emptyDir: {}


